<IfModule mod_rewrite.c>   

    RewriteEngine On
    RewriteRule ^(.*)/$ /$1 [L,R=301]
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php?$1 [L,QSA]

</IfModule> 
<IfModule mod_headers.c>
    
    Header set Content-Security-Policy "default-src 'self';"

</IfModule>
#<filesMatch ".(css|jpg|jpeg|png|gif|js|ico)$">

 #   Header set Cache-Control "max-age=2628000, public"
    
#</filesMatch>
